:root{
    --main-light-theme-color: #E1805E;
    --bg-light-theme-color: #FCF2CC;
    --light-theme-text-color: black;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: url('/static/images/BG.jpg');
    background-size: cover;
    background-position: center;
    /* background-image: url('{% static "images/BG.jpg"}'); */
    /* background-image: linear-gradient(225deg,#C70039, #FFC300);*/
}

/*---------------LIGHT THEME---------------*/

/*----------SIGN UP----------*/

.signup-body{
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}

.signup-container{
    width: 420px;

    background-color: transparent;
    color: white;

    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;

    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);

    padding: 30px 40px;
}

.signup-container h1{
    font-size: 36px;
    text-align: center;
}

.signup-container .form-group{
    position: relative;
    width: 100%;
    height: 50px;
    background-color: transparent;
    margin: 30px 0px;
}

.form-group input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: white;
    padding: 20px 45px 20px 20px
}

.form-group input::placeholder{
    color: white
}

.form-group i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.signup-container .remember{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px
}

.remember label input{
    accent-color: white;
    margin-right: 3px;
}

.remember a{
    color: white;
    text-decoration: none;
}

.remember a:hover{
    text-decoration: underline;
}

.signup-container .signup-button{
    width: 100%;
    height: 45px;
    background-color: white;
    border: 2px solid transparent;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: var(--light-theme-text-color);
    font-weight: 600;
}

.signup-container .signup-button:hover{
    background-color: transparent;
    color: white;
    border: 2px solid white;
}

.signup-container .already-registered{
    font-size: 15px;
    text-align: center;
    margin: 20px 0 15px
}

.already-registered p a{
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.already-registered p a:hover{
    text-decoration: underline;
}

/*--errors--*/

.signup-alert{
    margin-top: 10px;
    border: 2px solid red .2;
    color: red;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(255, 255, 255, .2);
}

.signup-alert ul li{
    margin-top: 7px;
    list-style: none;
}

.signup-alert span{
    color: white;
}

.signup-alert span:hover{
    cursor: pointer;
}



















.tooltip {
    display: none;
    position: absolute;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    color: #333;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 350px;
    z-index: 1000;
}

.form-group {
    position: relative;
}
