:root{
    --main-light-theme-color: #E1805E;
    --second-light-theme-color: #C47318;
    --third-light-theme-color: #f1df8a;
    --bg-light-theme-color: #FCF2CC;
    --light-theme-text-color: black;
    --bg-light-theme: url('/static/images/BG_light.jpg');
    --bg-dark-theme: url('/static/images/BG_dark.jpg');
    --main-dark-theme-color: #9C67E0;
    --bg-dark-theme-color: #515252;
    --dark-theme-text-color: white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}



/*---------------LIGHT THEME---------------*/
body{
    background-image: var(--bg-light-theme-color);
    background-size: cover;
    background-position: center;
}

/*----------SIGN UP----------*/

.signup-body{
    background-image: var(--bg-light-theme);
    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}

.signup-container{
    width: 420px;

    background-color: transparent;
    color: white;

    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;

    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);

    padding: 30px 40px;
}

.signup-container h1{
    color: var(--main-light-theme-color);
    font-size: 36px;

    text-align: center;
}

.signup-container .form-group{
    position: relative;

    width: 100%;
    height: 50px;

    background-color: transparent;

    margin: 30px 0px;
}

.form-group input{
    width: 100%;
    height: 100%;

    background: transparent;
    
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    border: none;
    outline: none;
    
    font-size: 16px;
    color: white;

    padding: 20px 45px 20px 20px
}

.form-group input::placeholder{
    color: white
}

.form-group i{
    position: absolute;

    right: 20px;
    top: 50%;

    transform: translateY(-50%);

    font-size: 20px;
    color: var(--main-light-theme-color)
}

.tooltip {
    display: none;
    position: absolute;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    color: var(--main-light-theme-color);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 330px;
    z-index: 1000;
    list-style: none;
}

.tooltip-ul{
    color: var(--main-light-theme-color);
    list-style: none;
}

.form-group {
    position: relative;
}

.signup-container .remember{
    display: flex;

    justify-content: space-between;

    font-size: 14.5px;

    margin: -15px 0 15px
}

.remember label input{
    accent-color: white;
    margin-right: 3px;
}

.remember a{
    color: white;
    text-decoration: none;
}

.remember a:hover{
    text-decoration: underline;
}

.signup-container .signup-button{
    width: 100%;
    height: 45px;

    border: 2px solid transparent;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    outline: none;
    
    cursor: pointer;

    font-size: 16px;
    color: var(--dark-theme-text-color);
    font-weight: 600;

    background-color: var(--main-light-theme-color);
}

.signup-container .signup-button:hover{
    background-color: transparent;

    color: white;

    border: 2px solid white;
}

.remember{
    color: var(--main-light-theme-color)
}

.signup-container .already-registered{
    font-size: 15px;

    text-align: center;

    margin: 20px 0 15px
}

.already-registered p{
    color: var(--main-light-theme-color);
}

.already-registered p a{
    font-weight: 600;
    color: white;
    text-decoration: none;
}

.already-registered p a:hover{
    text-decoration: underline;
}

.signup-body .swap-theme{
    position: absolute;

    right: 20px;
    top: 30px;

    display: block;

    color: var(--main-light-theme-color);

}

.signup-body .swap-theme i{
    font-size: 50px;
}

/*--errors--*/

.signup-alert{
    margin-top: 10px;

    border: 2px solid red .2;

    color: red;

    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(255, 255, 255, .2);
}

.signup-alert ul li{
    margin-top: 7px;
    list-style: none;
}

.signup-alert span{
    color: white;
}

.signup-alert span:hover{
    cursor: pointer;
}


/*----------LOG IN----------*/
.login-body{
    background-image: var(--bg-light-theme);
    background-size: cover;
    background-position: center;

    display: flex;

    justify-content: center;
    align-items: center;

    min-height: 100vh;
}

.login-container{
    width: 420px;

    background-color: transparent;
    color: white;

    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;

    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);

    padding: 30px 40px;
}

.login-container h1{
    color: var(--main-light-theme-color);
    font-size: 36px;
    text-align: center;
}

.login-container .form-group{
    position: relative;

    width: 100%;
    height: 50px;

    background-color: transparent;

    margin: 30px 0px;
}

.form-group input{
    width: 100%;
    height: 100%;

    background: transparent;

    border: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    outline: none;

    font-size: 16px;
    color: white;

    padding: 20px 45px 20px 20px;
}

.form-group input::placeholder{
    color: white
}

.form-group i{
    position: absolute;

    right: 20px;
    top: 50%;

    transform: translateY(-50%);

    font-size: 20px;
    color: var(--main-light-theme-color)
}

.login-container .forgot-password a{
    color: var(--main-light-theme-color);
    text-decoration: none;
}

.login-container .forgot-password a:hover{
    text-decoration: underline;
}

.login-container .login-button{
    width: 100%;
    height: 45px;

    display: block;

    margin-top: 20px;

    border: 2px solid transparent;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);

    cursor: pointer;

    font-size: 16px;
    font-weight: 600;

    background-color: var(--main-light-theme-color);
    color: var(--dark-theme-text-color);
    
}

.login-container .login-button:hover{
    background-color: transparent;

    color: white;

    border: 2px solid var(--main-light-theme-color);
}

.login-container .dont-have-account{
    font-size: 15px;

    text-align: center;

    margin: 20px 0 15px
}

.dont-have-account p{
    color: var(--main-light-theme-color);
}

.dont-have-account p a{
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.dont-have-account p a:hover{
    text-decoration: underline;
}

.login-body .swap-theme{
    position: absolute;

    right: 20px;
    top: 30px;

    display: block;

    color: var(--main-light-theme-color);
}

.login-body .swap-theme i{
    font-size: 50px;
}

/*--errors--*/

.login-alert{
    margin-top: 10px;

    border: 2px solid red .2;

    color: red;

    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(255, 255, 255, .2);
}

.login-alert ul li{
    margin-top: 7px;
    list-style: none;
}

.login-alert span{
    color: white;
}

.login span:hover{
    cursor: pointer;
}

/*----------STORE PAGE----------*/
.store-page-body{
    background-image: var(--bg-light-theme);
    background-size: cover;
    background-size: cover;
}
/*--header--*/
.main-header {
    background-color: var(--main-light-theme-color);
    color: #fff;
    height: 70px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-container{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a {
    color: var(--dark-theme-text-color);
    text-decoration: none;
    font-size: 32px;
    font-weight: bold;
}

.search{
    width: 300px;
    position: relative;
    border-radius: 20px;
}

.search input {
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
    width: 300px;
    font-size: 16px;
}

.search i{
    position: absolute;
    top: 8px;
    right: 5px;

    color: var(--light-theme-text-color)
}

.main-nav{
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.main-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.main-nav ul li {
    text-align: center;

    margin-right: 30px;
    

    position: relative;
}

.main-nav ul li.collapsed-menu-li{
    position: relative;
    height: 70px;
    width: 70px;
    z-index: 1;
}

.main-nav ul li a {
    color: var(--dark-theme-text-color);
    text-decoration: none;
}

.main-nav ul li.collapsed-menu-li a{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.main-nav ul li.collapsed-menu-li a i{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: .5s;
    color: var(--dark-theme-text-color);
}

.main-nav ul li.collapsed-menu-li a:hover, .main-nav ul li.collapsed-menu-li a:active{
    text-decoration: underline;
}

.main-nav ul li.collapsed-menu-li:hover a i.bx{
    transform: translateY(-25px);
}

.main-nav ul li.collapsed-menu-li a .text{
    position: absolute;
    color: var(--dark-theme-text-color);
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    transform: translateY(20px);
    opacity: 0;
}

.main-nav ul li.collapsed-menu-li:hover a .text{
    opacity: 1;
    transform: translateY(5px);
}

.dropdown{
    height: 70px;
    width: 70px;

    font-size: 24px;
}

.dropdown i{
    padding-top: 27px;
}


.dropdown-menu {
    position: absolute;

    width: 140px;
    height: auto;

    top: 30px;
    right: -70px;
    padding: 0;

    text-align: center;
    color: var(--bg-dark-theme-color);
    
    display: none;

    border: 2px solid var(--main-light-theme-color);
    border-radius: 5px;

    background-color: var(--dark-theme-text-color);

    list-style: none;
    z-index: 2;
}

.dropdown-menu ul li a{
    display: block;
    color: var(--bg-dark-theme-color);
    padding-top: 5px;
    padding-bottom: 5px;
}


.dropdown ul {
    width: 100%;

    flex-direction: column;

    text-align: center;
    vertical-align: middle;
}

.dropdown ul li{
    width: 100%;

    margin: 0;

    text-align: center;
    vertical-align: middle;
}


.dropdown ul li:nth-child(1):after{
    position: absolute;

    z-index: 3;

    display: block;

    content: '';

    width: 100%;

    border-top: 2px solid var(--main-light-theme-color);
}

.dropdown ul li:nth-child(2):after{
    position: absolute;

    z-index: 3;

    display: block;

    content: '';

    width: 100%;

    border-top: 2px solid var(--main-light-theme-color);
}

.dropdown ul li:hover{
    transition: 0.5s;
    background-color: var(--main-light-theme-color);
}


.dropdown ul li:hover a, .dropdown ul li:active a{
    text-align: center;
    color: var(--light-theme-text-color);
}

#burger-button:active{
    color: var(--main-light-theme-color)
}

/*--Empty-space--*/
.empty-space{
    width: 100%;
    height: 150px;
    text-align: center;
    vertical-align: middle;
}

.empty-space h1{
    color: var(--dark-theme-text-color);
    padding-top: 50px;
    font-size: 50px;
}

/*--Store page content--*/
.store-page-main{
    width: 100%;
    height: 100%;

    background-color: transparent;

    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.store-page-content{
    position: relative;

    width: 1500px;
    height: 100%;

    margin: 0 auto;

    background-color: var(--main-light-theme-color);
    border-radius: 40px 40px 0 0;
}

.sort-products{
    position: absolute;

    left: 0;
    top: 20px;

    width: 150px;

    margin: 0;
    margin-left: 5px;
    padding: 0;
    
}

.sort-products label{
    font-size: 18px;

    width: 100%;

    display: block;

    margin: 5px 0 5px 0px;

    color: var(--dark-theme-text-color);
}

.sort-products input{
    width: 100%;
}

.sort-products button{
    margin: 5px 0 0 0;
    padding: 3px 7px 3px 7px;


    border: 1px solid var(--light-theme-text-color);
    border-radius: 10px;

    background-color: var(--dark-theme-text-color);

    color: var(--light-theme-text-color);
}

.sort-products button:hover{
    cursor: pointer;
    
    color: var(--main-light-theme-color);
}

.sort-products select{
    width: 100%;

    margin-top: 20px;
}

.sort-by-category{
    margin-top: 20px;
}

.sort-by-category select{
    display: block;

    margin-top: 0px;
}


.store-page-container{
    width: 1110px;
    height: auto;

    margin: 0 auto;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    background-color: var(--dark-theme-text-color);
}

.products-header{
    height: 40px;
    width: 100%;

    display: flex;
    justify-content: flex-end;

    border: 2px solid var(--second-light-theme-color);

}

.items-per-page{
    height: 100%;

    margin: 0;
    padding: 0;

    display: flex;

    font-size: 16px;

    border: 1px solid var(--second-light-theme-color);
}

.items-per-page label{
    padding-left: 5px;
    
    display: block;
    margin-top: 7px;
}

.items-per-page select{
    display: block;

    border: 1px solid var(--second-light-theme-color);
}


.type-of-view-products{
    height: 100%;
    width: auto;

    font-size: 30px;

    text-align: center;

    padding: 2px;

    border: 1px solid var(--second-light-theme-color);
}

.type-of-view-products:hover{
    cursor: pointer;
    color: var(--main-light-theme-color);
}

.products{
    position: relative;

    width: 300px;
    height: 350px;
    
    margin-top: 10px;
    margin-bottom: 10px;

    text-align: center;

    border: 1px solid var(--main-light-theme-color);
    border-radius: 20px;
}

.products h2{
    padding: 15px 40px 0 40px;
    font-size: 20px;
}

.products img{
    position: relative;

    height: 100px;
    width: auto;

    margin: 10px 0px 10px 0px;
}

.products i{
    position: absolute;

    font-size: 30px;

    right: 10px;
    top: 10px;

    display: none;

    color: #f1df8a;
    z-index: 1;
}

.products:hover i{
    display: block;
}

.products p{
    font-size: 16px;
    margin-top: 10px;
}

.products button{
    font-size: 18px;

    width: 150px;

    padding: 5px;
    margin-top: 20px;

    background-color: var(--main-light-theme-color);
    
    border: 1px solid var(--dark-theme-text-color);
    border-radius: 20px;
}

.products button:hover{
    background-color: var(--dark-theme-text-color);

    border: 1px solid var(--main-light-theme-color);
}

.products button a{
    text-decoration: none;
    color: var(--dark-theme-text-color);
}

.products button:hover a{
    color: var(--light-theme-text-color);
    text-decoration: underline;
}

.out-of-stock{
    width: 150px;

    padding: 5px;
    margin-top: 20px;

    text-align: center;

    background-color: var(--main-light-theme-color);
    
    border: 1px solid var(--dark-theme-text-color);
    border-radius: 20px;
}

footer{
    background-color: var(--light-theme-text-color);
}












































/*---------------DARK THEME---------------*/
/*----------Sign Up----------*/
.dark-mode{
    color: white;
}

.dark-mode .signup-body{
    background-image: var(--bg-dark-theme);
}

.dark-mode h1{
    color: var(--main-dark-theme-color)
}

.dark-mode .signup-container{
    color: var(--main-dark-theme-color)
}

.dark-mode .signup-container .signup-button{
    color: white;
    background-color: var(--main-dark-theme-color);
}

.dark-mode i{
    color: var(--main-dark-theme-color)
}

.dark-mode .signup-container .signup-button:hover{
    cursor: pointer;

    background-color: transparent;

    border: 2px solid var(--main-dark-theme-color);
}

.dark-mode .remember{
        color: var(--main-dark-theme-color)
}

.dark-mode .already-registered p{
    color: var(--main-dark-theme-color)
}

/*----------Log In----------*/
.dark-mode .login-body{
    background-image: var(--bg-dark-theme);
}

.dark-mode h1{
    color: var(--main-dark-theme-color)
}

.dark-mode .login-container{
    color: var(--main-dark-theme-color)
}

.dark-mode .login-container .login-button{
    color: white;
    background-color: var(--main-dark-theme-color);
}

.dark-mode .login-container .forgot-password a:hover{
    text-decoration: underline;
}

.dark-mode i{
    color: var(--main-dark-theme-color)
}

.dark-mode .login-container .login-button:hover{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid var(--main-dark-theme-color);
}

.dark-mode .dont-have-account p{
    color: var(--main-dark-theme-color)
}

.dark-mode .login-container .forgot-password a{
    color: var(--main-dark-theme-color);
    text-decoration: none;
}

.dark-mode .tooltip{
    background-color: var(--bg-dark-theme-color);
    color: var(--main-dark-theme-color);
}

.dark-mode .tooltip-ul{
    color: var(--main-dark-theme-color)
}