:root{
    --main-light-theme-color: #E1805E;
    --bg-light-theme-color: #FCF2CC;
    --light-theme-text-color: black;
    --bg-light-theme: url('/static/images/BG_light.jpg');
    --bg-dark-theme: url('/static/images/BG_dark.jpg');
    --main-dark-theme-color: white;
    --second-dark-theme-color: #9C67E0;
    --bg-dark-theme-color: #515252;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}



/*---------------LIGHT THEME---------------*/
body{
    background-image: var(--bg-light-theme);
    background-size: cover;
    background-position: center;
}

/*----------SIGN UP----------*/

.signup-body{
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
}

.signup-container{
    width: 420px;

    background-color: transparent;
    color: white;

    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;

    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);

    padding: 30px 40px;
}

.signup-container h1{
    color: var(--main-light-theme-color);
    font-size: 36px;

    text-align: center;
}

.signup-container .form-group{
    position: relative;

    width: 100%;
    height: 50px;

    background-color: transparent;

    margin: 30px 0px;
}

.form-group input{
    width: 100%;
    height: 100%;

    background: transparent;
    
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    border: none;
    outline: none;
    
    font-size: 16px;
    color: white;

    padding: 20px 45px 20px 20px
}

.form-group input::placeholder{
    color: white
}

.form-group i{
    position: absolute;

    right: 20px;
    top: 50%;

    transform: translateY(-50%);

    font-size: 20px;
    color: var(--main-light-theme-color)
}

.signup-container .remember{
    display: flex;

    justify-content: space-between;

    font-size: 14.5px;

    margin: -15px 0 15px
}

.remember label input{
    accent-color: white;
    margin-right: 3px;
}

.remember a{
    color: white;
    text-decoration: none;
}

.remember a:hover{
    text-decoration: underline;
}

.signup-container .signup-button{
    width: 100%;
    height: 45px;

    border: 2px solid transparent;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    outline: none;
    
    cursor: pointer;

    font-size: 16px;
    color: var(--main-dark-theme-color);
    font-weight: 600;

    background-color: var(--main-light-theme-color);
}

.signup-container .signup-button:hover{
    background-color: transparent;

    color: white;

    border: 2px solid white;
}

.remember{
    color: var(--main-light-theme-color)
}

.signup-container .already-registered{
    font-size: 15px;

    text-align: center;

    margin: 20px 0 15px
}

.already-registered p{
    color: var(--main-light-theme-color);
}

.already-registered p a{
    font-weight: 600;
    color: white;
    text-decoration: none;
}

.already-registered p a:hover{
    text-decoration: underline;
}

.signup-body .swap-theme{
    position: absolute;

    right: 20px;
    top: 30px;

    display: block;

    color: var(--main-light-theme-color);

}

.signup-body .swap-theme i{
    font-size: 50px;
}

/*--errors--*/

.signup-alert{
    margin-top: 10px;

    border: 2px solid red .2;

    color: red;

    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(255, 255, 255, .2);
}

.signup-alert ul li{
    margin-top: 7px;
    list-style: none;
}

.signup-alert span{
    color: white;
}

.signup-alert span:hover{
    cursor: pointer;
}


/*----------LOG IN----------*/
.login-body{
    display: flex;

    justify-content: center;
    align-items: center;

    min-height: 100vh;
}

.login-container{
    width: 420px;

    background-color: transparent;
    color: white;

    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 10px;

    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);

    padding: 30px 40px;
}

.login-container h1{
    color: var(--main-light-theme-color);
    font-size: 36px;
    text-align: center;
}

.login-container .form-group{
    position: relative;

    width: 100%;
    height: 50px;

    background-color: transparent;

    margin: 30px 0px;
}

.form-group input{
    width: 100%;
    height: 100%;

    background: transparent;

    border: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    outline: none;

    font-size: 16px;
    color: white;

    padding: 20px 45px 20px 20px;
}

.form-group input::placeholder{
    color: white
}

.form-group i{
    position: absolute;

    right: 20px;
    top: 50%;

    transform: translateY(-50%);

    font-size: 20px;
    color: var(--main-light-theme-color)
}

.login-container .forgot-password a{
    color: var(--main-light-theme-color);
    text-decoration: none;
}

.login-container .forgot-password a:hover{
    text-decoration: underline;
}

.login-container .login-button{
    width: 100%;
    height: 45px;

    display: block;

    margin-top: 20px;

    border: 2px solid transparent;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);

    cursor: pointer;

    font-size: 16px;
    font-weight: 600;

    background-color: var(--main-light-theme-color);
    color: var(--main-dark-theme-color);
    
}

.login-container .login-button:hover{
    background-color: transparent;

    color: white;

    border: 2px solid white;
}

.login-container .dont-have-account{
    font-size: 15px;

    text-align: center;

    margin: 20px 0 15px
}

.dont-have-account p{
    color: var(--main-light-theme-color);
}

.dont-have-account p a{
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.dont-have-account p a:hover{
    text-decoration: underline;
}

.login-body .swap-theme{
    position: absolute;

    right: 20px;
    top: 30px;

    display: block;

    color: var(--main-light-theme-color);
}

.login-body .swap-theme i{
    font-size: 50px;
}

/*--errors--*/

.login-alert{
    margin-top: 10px;

    border: 2px solid red .2;

    color: red;

    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(255, 255, 255, .2);
}

.login-alert ul li{
    margin-top: 7px;
    list-style: none;
}

.login-alert span{
    color: white;
}

.login span:hover{
    cursor: pointer;
}













































/*---------------DARK THEME---------------*/
/*----------Sign Up----------*/
.dark-mode{
    background-image: var(--bg-dark-theme);
    color: white;

    background-color: black;
}

.dark-mode h1{
    color: var(--second-dark-theme-color)
}

.dark-mode .signup-container{
    color: var(--second-dark-theme-color)
}

.dark-mode .signup-container .signup-button{
    color: white;
    background-color: var(--second-dark-theme-color);
}

.dark-mode i{
    color: var(--second-dark-theme-color)
}

.dark-mode .signup-container .signup-button:hover{
    cursor: pointer;

    background-color: transparent;

    border: 2px solid var(--second-dark-theme-color);
}

.dark-mode .remember{
        color: var(--second-dark-theme-color)
}

.dark-mode .already-registered p{
    color: var(--second-dark-theme-color)
}

/*----------Log In----------*/
.dark-mode{
    background-image: var(--bg-dark-theme);
    color: white;
}

.dark-mode h1{
    color: var(--second-dark-theme-color)
}

.dark-mode .login-container{
    color: var(--second-dark-theme-color)
}

.dark-mode .login-container .login-button{
    color: white;
    background-color: var(--second-dark-theme-color);
}

.dark-mode i{
    color: var(--second-dark-theme-color)
}

.dark-mode .login-container .login-button:hover{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid var(--second-dark-theme-color);
}

.dark-mode .dont-have-account p{
    color: var(--second-dark-theme-color)
}

.dark-mode .login-container .forgot-password a{
    color: var(--second-dark-theme-color);
    text-decoration: none;
}

















.tooltip {
    display: none;
    position: absolute;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    color: #333;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 350px;
    z-index: 1000;
}

.form-group {
    position: relative;
}
