{% extends 'mainpage/base.html' %}
{% load static %}
{% block title %}Create product{% endblock %}

{% block content %}
{% include 'mainpage/main_header.html' %}
<div class="product-detail-body">

    <div class="empty-space">
        <h1 class="store-header">
            Create update
        </h1>
    </div>

    <section class="product-detail-main">
        <div class="product-detail-content">
            <div class="product-detail-container height-1300">
                    <form method="post" enctype="multipart/form-data" class="update-product-form">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">Create Product</button>
                    </form>
            </div>
        </div>
    </section>
</div>
{% endblock %}