{% extends 'mainpage/base.html' %}

{% block title %}Password Reset{% endblock %}

{% block content %}
<div class="password-reset-body">
    <div class="password-reset-container">
        <h1 class="password-reset-header">Password Reset</h1>
        <form method="post" class="password-reset-form">
            {% csrf_token %}
            <div class="form-group">
                <input type="email" name="email" class="input" placeholder="Email" required>
            </div>
            <button type="submit" class="password-reset-button">Reset Password</button>
        </form>
    </div>
    <a class="swap-theme"><i class="fa-regular fa-moon fa-2xl"></i></a>
</div>
{% endblock %}