{% extends 'mainpage/base.html' %}
{% block title %}Password Reset Complete{% endblock %}

{% block content %}
<div class="password-reset-complete-body">
    <div class="password-reset-complete-container">
        <h1 class="password-reset-complete-header">Password Reset Complete</h1>
        <p class="password-reset-complete-message">
            Your password has been successfully reset. You can now log in with your new password.
        </p>
    </div>
     <a class="swap-theme"><i class="fa-regular fa-moon fa-2xl"></i></a>
</div>
{% endblock %}