{% extends 'mainpage/base.html' %}
{% block title %}Password Reset Done{% endblock %}

{% block content %}
<div class="password-reset-done-body">
    <div class="password-reset-done-container">
        <h1 class="password-reset-done-header">Password Reset Done</h1>
        <p class="password-reset-done-message">
            We have sent you an email with instructions on how to reset your password. Please check your inbox.
        </p>
    </div>
    <a class="swap-theme"><i class="fa-regular fa-moon fa-2xl"></i></a>
</div>
{% endblock %}