{% extends 'mainpage/base.html' %}
{% load static %}
{% block title %}{{ product.name }}{% endblock %}

{% block content %}
{% include 'mainpage/main_header.html' %}
<div class="product-detail-body">

    <div class="empty-space">
        <h1 class="store-header">
            Product detail
        </h1>
    </div>

    <section class="product-detail-main">
        <div class="product-detail-content">
            <div class="product-detail-container height-1300">
                {% if product.image %}
                    <img src="{{ product.image.url }}" alt="{{ product.name }}">
                {% endif %}
                <h1>{{ product.name }}</h1>
                <p><b>Category:</b> {{ product.category }}</p>
                <p><b>Description:</b> {{ product.description }}</p>
                <p><b>Price:</b> ${{ product.price }}</p>

                <form method="post" action="{% url 'add-to-cart' product.id %}">
                    {% csrf_token %}
                    <button type="submit" class="buy-button">Buy</button>
                </form>
            </div>
        </div>
    </section>
</div>

{% endblock %}