{% extends 'mainpage/base.html' %}
{% load static %}
{% block title %}Store{% endblock %}

{% block content %}
<header class="main-header">
    <div class="header-container">
        <div class="logo">
            <a href="{% url 'store-page' %}">Depthecho</a>
        </div>
        <div class="search">
            <input type="text" placeholder="Search...">
            <i class='bx bx-search-alt-2'></i>
        </div>
        <nav class="main-nav">
            <ul class="collapsed-menu">
                <li class="collapsed-menu-li collapsed-menu-active"><a href="/"><i class='bx bx-home'></i><br>
                    <p class="text">Store</p>
                </a></li>
                <li class="collapsed-menu-li"><a href="{% url 'cart' %}"><i class='bx bx-cart'></i><br>
                    <p class="text">Cart</p>
                </a></li>
                <li class="collapsed-menu-li"><a href="/orders"><i class='bx bx-notepad'></i><br>
                    <p class="text">Orders</p>
                </a></li>
                <li class="collapsed-menu-li"><a href="/favorites"><i class='bx bx-star'></i><br>
                    <p class="text">Favorite</p>
                </a></li>
                <li class="dropdown">
                    <a href="#" id="burger-button" onclick="toggleDropdown()"><i class='bx bx-menu'></i></a>
                    <div class="dropdown-menu" id="dropdownMenu">
                        <ul>
                            <li class="dropdown-menu-li dropdown-menu-afterline"><a href="">Profile</a></li>
                            <li class="dropdown-menu-li dropdown-menu-afterline"><a href="">Settings</a></li>
                            <li class="dropdown-menu-li" id="dropdown-menu-logout"><a href="{% url 'log-out' %}">Log
                                Out</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
    <script>
        // Function to toggle dropdown menu visibility
        function toggleDropdown() {
            var dropdownMenu = document.getElementById("dropdownMenu");
            var dropdownMenuButton = document.getElementById("burger-button");
            if (dropdownMenu.style.display === "block") {
                dropdownMenu.style.display = "none";
                dropdownMenuButton.style.color = "var(white)";
            } else {
                dropdownMenu.style.display = "block";
                dropdownMenuButton.style.color = "var(white)";
            }
        }
    </script>
</header>
<div class="store-page-body">

    <div class="empty-space">
        <h1 class="store-header">
            Store
        </h1>
    </div>

    <section class="store-page-main">
        <div class="store-page-content">
            <div class="sort-products">
                <form method="get" action="{% url 'store-page' %}">
                    <label for="price_min">Min Price:</label>
                    <input type="number" name="price_min" id="price_min" step="1" placeholder="Enter your min. price">
                    <label for="price_max">Max Price:</label>
                    <input type="number" name="price_max" id="price_max" step="1" placeholder="Enter your max. price">
                    <button type="submit" class="apply-sort">Apply</button>
                    <select name="sort_by" class="sort-by-select">

                        <option value="">Sort By</option>
                        <option value="price_low">Price Low to High</option>
                        <option value="price_high">Price High to Low</option>
                    </select>
                    <button type="submit" class="apply-sort">Apply</button>
                </form>
                <div class="sort-by-category">
                    <form method="get" action="{% url 'store-page' %}">
                        <label for="category">Sort by Category:</label>
                        <select id="category" name="category">
                            <option value="all">All Categories</option>
                            {% for cat in categories %}
                            <option value="{{ cat.name }}">{{ cat.name }}</option>
                            {% endfor %}
                        </select>
                        <button type="submit">Apply</button>
                    </form>
                </div>
            </div>
            <div class="store-page-container">
                <div class="products-header">
                    <div class="items-per-page">
                        <label for="itemsPerPage">Items per Page:</label>
                        <select id="itemsPerPage" name="itemsPerPage">
                            <option value="12">12</option>
                            <option value="18">18</option>
                            <option value="24">24</option>
                            <option value="30">30</option>
                        </select>
                    </div>
                    <div class="sort-by-square type-of-view-products">
                        <i class='bx bxs-grid'></i>
                    </div>
                    <div class="sort-by-string type-of-view-products">
                        <i class='bx bx-menu'></i>
                    </div>
                </div>
                {% for product in products %}
                <div class="products">
                    <h2>{{ product.name }}</h2>
                    {% if product.image %}
                    <img src="{{ product.image.url }}" alt="{{ product.name }}">
                    {% endif %}
                    {% if product in request.user.favorite_products.all %}
                    <a href="{% url 'remove-from-favorite' product.id %}"><i class="favorite-good bx bxs-star"></i></a>
                    {% else %}
                    <a href="{% url 'add-to-favorite' product.id %}"><i class="favorite-good bx bx-star"></i></a>
                    {% endif %}
                    <p><b>Category:</b> {{ product.category }}</p>
                    <p><b>Price:</b> ${{ product.price }}</p>
                    {% if product.quantity > 0 %}
                    <form method="post" action="{% url 'add-to-cart' product.id %}">
                        {% csrf_token %}
                        <button type="submit" class="buy-button">Buy</button>
                    </form>
                    {% else %}
                    <p class="out-of-stock">Out of Stock</p>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
</div>
{% endblock %}