{% extends 'mainpage/base.html' %}
{% load static %}
{% block title %}Order Detail{% endblock %}

{% block content %}
{% include 'mainpage/main_header.html' %}
<div class="order-detail-body">
    <div class="empty-space">
        <h1 class="store-header">Order Detail</h1>
    </div>
    <section class="order-detail-main">
        <div class="order-detail-content">
            <div class="order-detail-container{% if order.products.count < 9 %} height-1300{% endif %}">
                <h2>Order Number: {{ order.order_number }}</h2>
                <p>Total Price: ${{ order.total_price }}</p>
                <p>Date: {{ order.order_date }}</p>
                <h3>Ordered Products:</h3>
                <ul>
                    {% for product in order.products.all %}
                        <li>
                            <h4>{{ product.name }}</h4>
                            {% if product.image %}
                                <img src="{{ product.image.url }}" alt="{{ product.name }}">
                            {% endif %}
                            <p><b>Category:</b> {{ product.category }}</p>
                            <p><b>Price:</b> ${{ product.price }}</p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
</div>
{% endblock %}